.v{
    display: flex;
    justify-content: center;
    margin-left: 300px;
}
button{
    cursor: pointer;
    width: 250px;
    height: 40px;
    padding: 0px 5px;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 24px;
    background-color:var(--main-color);
    color: white;
    margin-right: 230px;
}