*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.allProducts{
    cursor: pointer;
}
.Categories .content{
    display: flex;
    margin-top: 50px;
    /* justify-content: space-around;
    flex-wrap: wrap; */
    
}
.browse{
    width: 20%;
    /* box-shadow: var(--shadow); */
}
.browse-title{
    margin-left:10px ;
    color: #030303;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 28px;
}
.dropdown{
    margin-bottom: 12px;
}

.accordion{
    /* outline: 10px red solid !important; */
    border: none !important;
    --bs-accordion-btn-focus-box-shadow:  none  !important;
    

    
    --bs-accordion-btn-focus-border-color: none    !important; 
    -bs-accordion-active-color: none    !important; 
    --bs-accordion-active-bg: none    !important;

}
.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: 1px #fff solid !important;
}

.accor1 .accordion .accordion-item:focus{
    box-shadow: none  !important ;
} 


.Categories .content .categories-items{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    
    margin-top: 50px;
}
.Categories .categories-items .card{
    width: 30%;
    height: 300px !important;
    text-align: center;
    margin-bottom: 30px;
    /* padding: 20px; */
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 80px;
    /* box-shadow: var(--shadow); */
    border: none !important;
    display: flex;
    flex-direction: column;

}
.card-body{
    width: 90%;
    margin: auto;
    text-align: center;
    height: 20%;

}
.card-body h4{
    color:#1c1c1c;
    font-size: 23px;
    font-weight: 800;
    line-height: 21px;
    position: relative;
}

.card-body p{
    color: #565656;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
    position: relative;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 65% !important;
    /* height: 80% !important; */
    height: 150px;
    margin: auto;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-end-end-radius: 20px !important;
    border-end-start-radius: 20px !important;
    cursor: pointer;
}