<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </nav> -->


  <nav
    class="navbar navbar-expand-sm navbar-light bg-light"
>
    <div class="container mt-0 ">
        <!-- <a class="navbar-brand" >
            <img src="./assets/images/freshcart-logo.svg">
        </a> -->
        <!-- <h4 class="esm "> Esm el mashro3 el gamed</h4> -->
        <h3 class="esm-gded">Business Consulting Hub </h3>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
    
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 me-3  align-items-center  ">
                <li class="nav-item d-flex gap-3" >
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-tiktok"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="esm fw-bold ">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="esm fw-bold ">Sign Up</a>
                </li>
            </ul>
           
        </div>
    </div>
</nav>


