    <section class="productList">
        <div class="container">
            <div class="list">
                <div class="item" *ngFor="let oneProduct of allProducts">
                    <div class="card">
                        <img  [src]="oneProduct.imageUrl" class="card-img-top w-100  " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{oneProduct.name | biggerTrim}}</h5>
                            <p>{{oneProduct.price}}</p>
                            <div class="btn d-flex justify-content-center align-items-center mt-4  "(click)="addToCart(oneProduct.id)">
                                <a >Add To Cart</a>
                                <i class="fa-solid fa-cart-shopping text-light "></i>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    </section>