<div class="mt-4 bg-light product p-2 ">
  <h2 class="d-flex justify-content-center align-items-center ">  {{ providerDetails.name }} <img [src]="providerDetails.imageUrl" /></h2>

 <h6 class="text-info d-block d-flex justify-content-center align-items-center">{{ providerDetails.email }}</h6>
 <h3 >About The Company :</h3>
    <p class="d-flex justify-content-center align-items-center" >  {{providerDetails.description}}</p>
    <h3>The Company's Address  :</h3>
    {{providerDetails.address}}
</div>
<button class="btn mt-2 d-flex justify-content-center align-items-center fw-bold ">Book a Service</button>
