<section class="sectionMain">
  <div class="backG p-5">
    <div class="content">
      <h1 class="titleMain "> Find the best Business solutions</h1>

              <div class="d-flex justify-content-around">

            <div class="containerWelcome p-4 ">
                <p class=""> Welcome to our Business Consulting Hub, where we offer expert guidance and tailored solutions for business owners. Our platform includes a comprehensive range of consulting services aimed at driving growth and efficiency. Additionally, our e-commerce section allows businesses to stock essential products conveniently. We provide exclusive discount codes on our services to make top-tier consulting more affordable. Join us today to transform your business!</p>
                  </div>
                </div>
              </div>
                <img src="../../../assets/images/homeimg1.jpeg" class="  homeImg">


  </div>
  <div  class="container mt-5">

      <div class="accor1">
        <div class="accordion accordion-flush main-color" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Our services explained
              </button>
            </h2>

            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="acc-item step1">
                  <img [src]="images[0]" alt="">
                  <div class="item-text">
                    <h3 class="item-h3">Step 1</h3>
                  <!-- <p>Enter your business details.
                    Provide your address or enable .
                    location for accurate services.</p> -->
                    <p>Browse through our comprehensive list of business consulting services to find the ones that match your needs.</p>
                  </div>
                </div>
                <div class="acc-item mid">
                  <img [src]="images[1]" alt="">
                  <div class="item-text">
                  <h3 class="item-h3 mt-3">Step 2</h3>
                  <!-- <p>Choose a service and a
                    discount. You're closer to
                    optimizing your business.</p> -->
                    <p>Select a service and choose from a variety of reputable companies specializing in that area. Book a session with your chosen company effortlessly.</p>
                  </div>
                </div>
                <div class="acc-item">
                  <img [src]="images[2]" alt="">
                  <div class="item-text">
                  <h3 class="item-h3">Step 3</h3>
                  <!-- <p>Complete your payment. Sit
                    back and relax while we
                    enhance your business!</p> -->
                    <p>Explore our e-commerce section to purchase high-quality goods in selected categories. Enjoy the convenience of consulting and shopping all in one platform!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="home-service">
      <div class="container">
        <div class="home-service-item">
          <img [src]="images[3]" alt="">
          <div class="home-service-item-text">
            <h2 class="main-text">Your business is in safe hands</h2>
            <p class="secondary-text">We prioritize your business security, employing top-notch encryption methods to safeguard your data. Trust us for secure data storage and protection.</p>
            <button class="try-now" [routerLink]="['/services']">Try Now</button>
          </div>

        </div>
        <div  class="home-service-item item2">
          <div id="serv-text2" class="home-service-item-text item2-text">
            <h2 class="main-text">Smart cost-cutting solutions</h2>
            <p class="secondary-text">Enhance your business with cost-saving strategies, efficient operations, and exclusive discounts. Benefit from tailored solutions and special offers with our provided discount codes to streamline processes and boost your bottom line.</p>
            <button class="try-now"  [routerLink]="['/services']">Try Now</button>
          </div>
          <img id="serv-img2" [src]="images[4]" alt="">

        </div>
      </div>
      <footer>
        <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Business Consulting Hub
          </h6>
          <p>
           Our Business Consulting Hub, your go-to platform for tailored business solutions. Access diverse services, connect with experts, and shop premium goods—all in one place. Simplify your business journey with seamless navigation and expert guidance.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <!-- Products --> Services
          </h6>
          <p>
            <a class="text-reset">Marketing</a>
          </p>
          <p>
            <a class="text-reset">Accounting</a>
          </p>
          <p>
            <a class="text-reset">Logistics</a>
          </p>
          <p>
            <a class="text-reset">Consulting</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a  class="text-reset">Growth Strategies</a>
          </p>
          <p>
            <a class="text-reset">Problem-Solving Tips</a>
          </p>
          <p>
            <a  class="text-reset">Success Stories</a>
          </p>
          <p>
            <a  class="text-reset">Expert Advice</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Maadi, Egypt</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com 
          </p>
          <p><i class="fas fa-phone me-3"></i>01033326480</p>
          <p><i class="fas fa-phone me-3"></i>01120477710</p>
          <p><i class="fas fa-phone me-3"></i>01152159555</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright
    <!-- <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>

</footer>
      </footer>
    </section>
</section>
