<div class="container m-auto p-3">
  <div class="recit  " *ngIf="isOrdered; else Ordered">
    <p class="text-black-50 ms-3 p-2"><i class="fa-solid fa-arrow-left text-black"></i> checkout step</p>
    <div class=" m-auto p-5 container ">
      <form  (ngSubmit)="handelOrderForm(secNum,address)" [formGroup]="orderForm" class="h" >
        <input type="number" class="d-flex b mt-3 form-control " name="secNum" [(ngModel)]="secNum" id="secNum" formControlName="secNum" placeholder="Enter your phone number :">
        <div *ngIf="orderForm.get('secNum')?.errors && (orderForm.get('secNum')?.touched) || (orderForm.get('secNum')?.value.Length>0)" class="alert  alert-danger b d-flex form-control mt-1 ">
        <p *ngIf="orderForm.get('secNum')?.getError('required')"> Mobile Number is Required</p>
        </div>
  
        <input type="text" class="d-flex b mt-3 form-control " name="address" [(ngModel)]="address" id="address" formControlName="address" placeholder="Put your detailed address :  (Optional)">
        <div *ngIf="orderForm.get('address')?.errors && (orderForm.get('address')?.touched) || (orderForm.get('address')?.value.Length>0)" class="alert  alert-danger b d-flex form-control mt-1 ">
        <p *ngIf="orderForm.get('address')?.getError('required')"> Address is Required</p>
        </div>
        <button  [disabled]=""class="btn button  d-flex justify-content-center align-items-center" >Submit
        </button>
    </form>
    </div>
  </div>
</div>
  <ng-template #Ordered>
    <div class="text-success bookingsuccess" >
       <h1 class="mt-5"> You have ordered successfully!</h1>
       <img src="../../../assets/images/greencheckk.png" class="greenCheck">
    </div>
   </ng-template>