<!-- <div class="row g-3 position-relative">
    <div class="col-md-3" *ngFor="let provider of providers">
        <div [routerLink]="['/providerDetails/',provider.id]">
            <div class="product p-2 ">
                {{provider.name}}
                 {{provider.email}}
                 <img class="w-100" [src]="provider.imageUrl">
             </div>
        </div>
</div>
    </div> -->

<div class="container">
  <section id="web-service" class="service">
    <div class="service-slider">
      <div class="service-item" *ngFor="let one of all">
        <div [routerLink]="['/serviceDetails/', one.id]">
          <div class="service-item-content">
            <h2 class="service-item-title mt-3" routerLinkActive="text-main fw-bold">{{ one.name }}</h2>
            <!-- <p class="service-item-p">{{one.description}}</p> -->
            <button class="service-item-btn mt-4 ">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="one">
    <h1 class="servic-title">Service Providers</h1>
    <!-- <h6 class="servic-num"> 9 providers </h6> -->
  </div>

  <div *ngFor="let provider of providers">
    <div class="two">
      <div class="div-service-img">
        <img class="w-100 " [src]="provider.imageUrl" />
      </div>
      <div class="service-name">
        <h2 class="Service-Provider-Name">{{ provider.name | trim }}
            <span *ngIf="provider.name.split(' ').length >2">...</span>
        </h2>
        <h6 class="Service-Provider-Role">Service Provider Role</h6>
      </div>

      <div class="service-location">
        <!-- <h6 class="Service-Provider-location">{{provider.address}}</h6> -->
        <h6 class="Service-Provider-location">Location: City, Country</h6>
      </div>
      <div class="service-button" [routerLink]="['/providerDetails/',provider.id]" >
        <button class="Service-Provider-button">Explore Services</button>
      </div>
    </div>
  </div>
</div>

