@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
.main{
    top: 232px;
    left: 96px;
    width: 824px;
    height: 684px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 2px 10px rgba(3,3,3,0.1);
  }
  .main-text {
    color: #1d1d1d;
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 42px;
  }
  
  .cart-img{
    top: 404px;
  left: 136px;
  width: 80px;
  height: 80px;
  border-radius: 24px;
  background-image: url(../images/Home/Image\ \(61\).png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  }

  .cart-descrption{
    width: 28%;
    padding-top:20px ;
  }
  .cart-descrption h2{
    margin: auto;
    color: #1d1d1d;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 20px;
  }
.quanity{
    text-align: center;
    top: 424px;
    left: 591px;
    width: 104px;
    height: 40px;
    padding: 0px 8px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    background-color: #ffffff;
    color: #1d1d1d;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 20px;
    outline: none;
}
.quanity p{
    text-align: center;
    margin: auto;
    padding-top: 11px;
}
.recit{
    top: 232px;
  left: 936px;
  width: 408px;
  height: 684px;
  background-color: #cb9afd;
  border-radius: 24px;
  padding-top: 38px;
  padding-left: 35px;
}
.recit h1{
    color: #ffffff;
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 40px;   
    padding-bottom: 35px;
}


.recit h2{
    color: #ffffff;
    font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 18px; 
  margin-bottom: 18px;
}


.recit p{
    color: #ffffff;
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 18px;
}
.recit p i{
   margin-right: 8px;
}
.recit input{
    background-color: #cb9afd;
    border: #cb9afd solid;
}
.crdit_card{
    width: 32%;
}
.methods{
margin: auto;
/* width: 85%; */
padding-right: 140px;
padding-bottom: 20px;
/* margin-right: 1700px; */
border-bottom: 0.4px  solid  #ffffff;


}
.cardholder{
    padding-top: 18px;
    padding-bottom: 20px;
    /* margin-right: 1700px; */
    border-bottom: 0.4px  solid  #ffffff;  
}
.form-control{
    background-color: #cb9afd !important;
    color: #ffffff !important;
}
.methods button{
    cursor: pointer;
    top: 422px;
    left: 984px;
    width: 136px;
    height: 50px;
    padding: 0px 8px;
    border: 1px solid #1d1d1d;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #ffffff;
    color: #1d1d1d;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 18px;
    outline: none;  
}

.paypal{
    width: 32%;
 
}

.credit-card {
    padding-right: 10px;
    color: #ffffff;
    margin-bottom: 18px;
}
.cvvlabel{
    margin-left: 108px;
}
.credit-card  input{
   width: 96px !important; 
   color: #ffffff !important;
}
.credit-card  input::placeholder{
  
    color: #ffffff !important;
 }
.inputts{
    padding-top: 10px;
}

.inputts div{
    border-bottom: 0.4px  solid  #ffffff;  
    margin-left:8px ;
}
.Confirmbtn{
    cursor: pointer;
    top: 826px;
    left: 976px;
    width: 328px;
    height: 50px;
    padding: 0px 8px;
    border: 1px solid #1d1d1d;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #ffffff;
    color: #1d1d1d;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 24px;
    outline: none;
}
